{{define "postform"}}<DIV class="card" id="postform">
	<H2>New {{if eq . 0}}Topic{{else}}Reply{{end}}</H2>
	<FORM action="/newpost" method="post" enctype="multipart/form-data">
		<TABLE>
			<TR>
				<TD><LABEL for="name">Name</LABEL></TD>
				<TD><INPUT type="text" name="name" id="name" maxlength="{{config.MaxNameLength}}"></TD>
			</TR>
			{{if eq . 0}}<TR>
				<TD><LABEL for="subject">Subject</LABEL></TD>
				<TD><INPUT type="text" name="subject" id="subject" maxlength="{{config.MaxSubjectLength}}"></TD>
			</TR>{{end}}
			<TR>
				<TD><LABEL for="comment">Comment</LABEL></TD>
				<TD><TEXTAREA name="comment" id="comment" cols="50" rows="4" maxlength="{{config.MaxCommentLength}}"></TEXTAREA></TD>
			</TR>
			<TR>
				<TD><LABEL for="image">Image</LABEL></TD>
				<TD>
					<INPUT type="submit" value="Submit" id="submit">
					<INPUT type="file" name="image" id="image" accept="image/bmp, image/png, image/jpeg, image/gif">
					<INPUT type="hidden" name="parent" value="{{.}}">
				</TD>
			</TR>
		</TABLE>
	</FORM>
</DIV>{{end}}
