<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
	<HEAD>
		<TITLE>{{config.SiteName}}</TITLE>
		<META http-equiv="content-type" content="text/html; charset=utf-8">
		<META http-equiv="x-ua-compatible" content="ie=edge">
		<META name="viewport" content="width=device-width, initial-scale=1">
		<LINK rel="icon" type="image/x-icon" href="/data/static/icon2.ico">
		<LINK rel="stylesheet" href="/data/static/style.css" type="text/css">
		<STYLE>HTML { background-image: url("/data/static/bgalt.gif"); background-color: #8B6A4A; } .card { border-right: solid #420; border-right-width: 4px; border-bottom: solid #420; border-bottom-width: 4px; }</STYLE>
		<STYLE>.admin { display: none; }</STYLE>
	</HEAD>
	<BODY>
		{{template "header"}}
		<DIV class="card">
			<H2>Error</H2>
			<SPAN class="body error">{{.}}</SPAN>
		</DIV>
		<DIV class="footer">
			{{template "credits"}}
		</DIV>
	</BODY>
</HTML>
