<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
	<HEAD>
		<TITLE>{{config.SiteName}}</TITLE>
		<META http-equiv="content-type" content="text/html; charset=utf-8">
		<META http-equiv="x-ua-compatible" content="ie=edge">
		<META name="viewport" content="width=device-width, initial-scale=1">
		{{if gt (len config.SiteSlogans) 0}}<META name="description" content="{{index config.SiteSlogans (rand (len config.SiteSlogans))}}">{{end}}
		<LINK rel="icon" type="image/x-icon" href="/data/static/icon.ico">
		<LINK rel="stylesheet" href="/data/static/style.css" type="text/css">
		{{if not .Admin}}<STYLE type="text/css">.admin { display: none; }</STYLE>{{end}}
	</HEAD>
	<BODY>
		{{template "header"}}
		{{if not (and config.AdminPostOnly (not .Admin))}}{{template "postform" 0}}{{end}}
		{{range .Posts}}{{template "postpreview" .}}{{end}}
		<DIV class="footer">
			{{template "credits"}}
			{{if gt .Pages 1}}{{template "pagesel" .}}{{end}}
		</DIV>
	</BODY>
</HTML>
