{{define "postform"}}{{$topic := eq . ""}}<DIV class="card form" id="postform">
	<H2>New {{if $topic}}Topic{{else}}Reply{{end}}</H2>
	<FORM action="/newpost" method="post" enctype="multipart/form-data">
		<INPUT type="hidden" name="parent" value="{{.}}">
		<TABLE>
			<TR>
				<TD>
					<LABEL for="name">Name</LABEL>
					<INPUT type="text" name="name" id="name" maxlength="{{config.MaxNameSize}}">
				</TD>
				{{if $topic}}<TD>
					<LABEL for="subject">Subject</LABEL>
					<INPUT type="text" name="subject" id="subject" maxlength="{{config.MaxSubjectSize}}">
				</TD>{{end}}
			</TR>
			<TR>
				<TD colspan="2"><TEXTAREA name="comment" id="comment" cols="50" rows="4" maxlength="{{config.MaxCommentSize}}"></TEXTAREA></TD>
			</TR>
			<TR>
				<TD><INPUT type="file" name="image" id="image" accept="image/bmp, image/png, image/jpeg, image/gif"></TD>
				<TD style="text-align: right;"><INPUT type="submit" value="Submit" id="submit"></TD>
			</TR>
			{{with config.SiteRules}}<TR>
				<TD colspan="2">{{template "rules" .}}</TD>
			</TR>{{end}}
		</TABLE>
	</FORM>
</DIV>{{end}}
